/* .slide { */
    /* position: relative; Contains absolute image */
    /* gap: 50px; to experiment and djust spacing soon */
  /* } */

/* If  the image to maintain its aspect ratio and cover the available space */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide any parts of the image that exceed the container */
  position: relative;
  gap: 50px;
}

  .content {
    flex: 1;
  }

  .title {
    font-size: 3rem; /* to watch and djust  */
    margin-bottom: 20px;
  }

  .description {
    font-size: 1.2rem; /* Adjust as needed */
    margin-bottom: 30px;
  }

  .actions {
    display: flex;
    gap: 20px;
  }

  .button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text);
    background-color: var(--btn);
  }

  .imageContainer {
    flex: 1;
    position: relative;
    position: relative; /* Required for 'fill' to work ...*/
    width: 100%; /* Full width of the container */
    height: 100%; /* Define a specific height for the container */
  }

  @media (max-width: 768px) {
    .imgContainer{
      size: 100vw;
    }
  }

  @media (max-width: 1200px) {
    .imgContainer{
      size: 50vw, 25vw;
    }
  }

  @media (max-width: 1024px) {
    .slide {
      flex-direction: column;
      text-align: center;
    }

    .actions {
      justify-content: center;
    }
  }
